* {
  box-sizing: border-box;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}


body {
  margin: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15vw;
}

.post_box {
  display: flex;
  width: 100%;
  gap: 150px;
  max-height: 800px;
}

.post_images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-rows: minmax(0, 1fr);
  gap: 8px;
  padding: 0 100px;
  align-items: center;
  justify-content: center;
}

.post_images img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.post_text {
  flex: 1;
  display: flex;
}
